extends layout

block content

  script(src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js").
  script(src="https://www.gstatic.com/firebasejs/8.2.2/firebase-auth.js").
  script(src="https://www.gstatic.com/firebasejs/8.2.2/firebase-firestore.js").
  div(id="main")
    div(class="title")
      h1 Witamy w ARC Projekt!

    div(class="loginbutton")
      button(type="button" id="loginbtn") ZALOGUJ SIĘ
      button(type="button" id="regisbtn") ZAREJESTRUJ SIĘ

    div(id="popuplogin" class="popup")
      div(class="popup-content")
        div(class="login-content")
          span(class="close" id="close1") &times;
          h2 Logowanie
          if(loginErr)
            h3 #{loginErr}
          form(action="../account/login", method="POST")
            label Login
            br
            input(type="text" name="email")
            br
            br
            label Hasło
            br
            input(type="password" name="password")
            br
            br
            input(type="submit" value="Zaloguj się")
            br
          br
          br
          p Lub zaloguj się za pomocą:
          br
          button(type="button" id="twitterloginbtn" class="twitterbtn") Twitter
          br
          button(type="button" id="googleloginbtn" class="googlebtn") Google
          br
          button(type="button" id="facebookloginbtn" class="fbbtn") Facebook
    div(id="popupregis" class="popup")
      div(class="popup-content")
        span(class="close", id="close2") &times;
        h2 Rejestracja
        div(class="regis-content")
          if(registerErr)
            h3 #{registerErr}
          form(action="../account/register", method="POST")
            label E-mail
            br
            input(type="text" name="email")
            br
            br
            label Hasło
            br
            input(type="password" name="password")
            br
            br
            label Powtórz hasło
            br
            input(type="password" name="passwordcheck")
            br
            br
            input(type="submit" value="Zarejestruj się")


  script.
    const $ = function( id ) { return document.getElementById( id ); };

    let xhr = new XMLHttpRequest();

    const config = {
      apiKey: "AIzaSyBej7avmilxkqcE-JBtGpp4FwlQghhAixw",
      authDomain: "arc-project-302014.firebaseapp.com",
      projectId: "arc-project-302014",
      storageBucket: "arc-project-302014.appspot.com",
      messagingSenderId: "912268063152",
      appId: "1:912268063152:web:7847f9a0343fbfa4b9a675",
      measurementId: "G-PXJYX2NQ5N"
    };

    firebase.initializeApp(config);

    let popup1 = $("popuplogin");
    let popup2 = $("popupregis");
    let btn1 = $("loginbtn");
    let btn2 = $("regisbtn");
    let span1 = $("close1");
    let span2 = $("close2");
    let twbtn = $("twitterloginbtn");
    let gobtn = $("googleloginbtn");
    let fbbtn = $("facebookloginbtn");

    btn1.onclick = function () {
      popup1.style.display = "block";
    }

    btn2.onclick = function () {
      popup2.style.display = "block";
    }

    span1.onclick = function () {
      popup1.style.display = "none";
    }

    span2.onclick = function () {
      popup2.style.display = "none";
    }

    twbtn.onclick = async function twitterLogin() {
      const twitterProvider = new firebase.auth.TwitterAuthProvider();
      await providerLogin(twitterProvider);
    }

    gobtn.onclick = async function googleLogin() {
      const googleProvider = new firebase.auth.GoogleAuthProvider();
      await providerLogin(googleProvider);
    }

    fbbtn.onclick = async function facebookLogin() {
      const facebookProvider = new firebase.auth.FacebookAuthProvider();
      await providerLogin(facebookProvider)
    }

    async function providerLogin(provider) {
      firebase.auth().signInWithPopup(provider)
              .then(async (result) => {
                let user = result.user;
                let uid = user.uid;
                console.log(";)");
                xhr.open("POST", '/session', false);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify({'uid':uid}));
                xhr.abort();
                window.location.href = "/wordbase";
              }).catch((error) => {
                console.log(`[${error.code}]: ${error.message}`);
              });
    }
