doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
	body
		div(class="navbar")
			ul
				li
					a(href="http://localhost:3000/learning" id="learningtab") Nauka
				li
					a(href="http://localhost:3000/wordbase" id="basetab") Baza słówek
				li
					a(href="http://localhost:3000/account/logout") Wyloguj
		block content
