doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/boostrap.css')
	body
		ul
			li
				a(href="../learning") Nauka
			li
				a(href="#") Baza słówek
			li
				a(href="#") Profil
			li
				a(href="#") Wyloguj
		block content
