extends layout

block content
    div(id="learningdiv")
        h4 Spanish
        h2 Vamos a la playa
        h4 Polish
        form()
            input(type="text", id="answer")
            br
            input(type="submit", value="Check")
            input(type="submit", value="I don't know")

        br
        br
        button(type="button") Back