extends layout

block content
    div(id="learningdiv")
        //!{word.foreign} - !{word.local} (!{word.learn} level)
        h4 Spanish
        h2(id="foreign")
        h4 Polish
        input(type="text", id="answer")
        br
        button(type="button", onclick="answer()") Nie wiem
        button(type="button", onclick="check()") Sprawdź
        script.

            window.onload = function () {
                init();
            };

            function roll() {
                var wordList = !{words};
                return wordList[Math.floor(Math.random() * wordList.length)];
            }

            function init() {
                var randomWord = roll();
                while (randomWord.learn === 3) {
                    randomWord = roll();
                }
                alert(randomWord.foreign);
                document.getElementById("foreign").innerHTML = randomWord.foreign;
            }

            function answer() {
                return document.getElementById("answer").value.toLowerCase() === randomWord.local.toLowerCase();
            }

            function check() {
                if (answer() === true) {

                }
            }