extends layout

block content
    div(id="learningdiv")
        h4(id="langshow")
        h2(id="foreign")
        h4(id="langwrite")
        input(type="text", id="answer")
        br
        button(type="button", id="show", onclick="show()") Nie wiem
        button(type="button", id="check", onclick="check()") Sprawdź
        br
        h2(id="newtext")
        script.

            const $ = function( id ) { return document.getElementById( id ); };

            let randomWord;

            let langMode;

            window.onload = function () {
                init();
            };

            function modeRoll() {
                langMode = Math.round(Math.random());
            }

            function roll() {
                let wordList = !{words};
                if (wordList === undefined) {

                } else {
                    return wordList[Math.floor(Math.random() * wordList.length)];
                }
            }

            function init() {
                randomWord = roll();
                modeRoll();
                if (langMode === 0) {
                    $("foreign").innerHTML = randomWord.foreign;
                    $("langshow").innerHTML = "Hiszpański";
                    $("langwrite").innerHTML = "Polski";
                } else {
                    $("foreign").innerHTML = randomWord.local;
                    $("langshow").innerHTML = "Polski";
                    $("langwrite").innerHTML = "Hiszpański";
                }
            }

            function answer() {
                if (langMode === 0) {
                    return $("answer").value.toLowerCase() === randomWord.local.toLowerCase();
                } else {
                    return $("answer").value.toLowerCase() === randomWord.foreign.toLowerCase();
                }
            }

            function next() {
                init();
                $("check").onclick = check;
                $("check").innerHTML = "Sprawdź";
                $("newtext").innerHTML = "";
                $("answer").value = "";
                $("answer").removeAttribute("disabled");
                $("show").removeAttribute("disabled");
            }

            function check() {
                if (answer() === true) {
                    let xhr = new XMLHttpRequest();
                    xhr.open("POST", '/word/' + randomWord.id + '/up', true);
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xhr.send();
                    $("newtext").style.color = "green";
                    $("newtext").innerHTML = "Dobrze! +1 pkt";
                    $("check").onclick = next;
                    $("check").innerHTML = "Następne";
                    $("show").setAttribute("disabled", "disabled");
                } else {
                    let xhr = new XMLHttpRequest();
                    xhr.open("POST", '/word/' + randomWord.id + '/down', true);
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    xhr.send();
                    $("newtext").style.color = "red";
                    $("newtext").innerHTML = "Żle! -1 pkt";
                    $("check").onclick = next;
                    $("check").innerHTML = "Następne";
                    $("show").setAttribute("disabled", "disabled");
                }
            }

            function show() {
                $("answer").setAttribute("disabled", "disabled");
                $("show").setAttribute("disabled", "disabled");
                $("newtext").style.color = "orange";
                if (langMode === 0) {
                    $("newtext").innerHTML = randomWord.local + " 0 pkt";
                } else {
                    $("newtext").innerHTML = randomWord.foreign + " 0 pkt";
                }
                $("check").onclick = next;
                $("check").innerHTML = "Następne";
            }