extends layout

block content
    div(id="learningdiv")
        ul
            each word in words
                li !{word.foreign} - !{word.local} (!{word.learn} level)
        h4 Spanish
        //h2= foreign
        h4 Polish
        input(type="text", id="answer")
        br
        button(type="button", onclick="answer()") Nie wiem
        button(type="button", onclick="check()") Sprawdź
        script.
            function answer() {

            }

            function check() {

            }