extends layout

block content
    div(class="sidebar")
        button(type="button") Dodaj słowo
        br
        button(type="button") Dodaj ze zdjęcia
        br
        button(type="button") Dodaj z artykułu

    div(id="wordbasediv")
        br
        table(style="width:100%")
            caption Twoje słówka
            tr
                th Hiszpański
                th Polski
                th Wykonano
            each word in words
                tr
                    td !{word.foreign}
                    td !{word.local}
                    td !{word.learn}/3
